<%- include('partials/header'); -%>

<h1>Home</h1>

<p><%= homeStartingContent %> </p>

<% posts.forEach(function (post) { %>
    <div>
        <h2><%= post.postTitle %></h2>
        <p><%= post.postText.slice(0, 100)+"..."+" " %><a href="/posts/<%=post.postTitle%>">Read More</a></p> 
    </div>
    <% }); %>

<%- include('partials/footer'); -%>