<!-- Подключение частей верхних и нижних шаблонов через include в ejs -->
<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %> - ToDo List
        </h1>
    </div>
    <!-- Цикл пробегается по всем элементам массива и для каждого элемента создаёт новый пункт списка -->
    <div class="box">
        <p>To Do</p>
        <% newListItems.forEach(item=> { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%= item._id %>">
                    <!-- onchange позволяет отправлять данные при изменении чекбокса, value позволит найти элемент-->
                    <p>
                        <%= item.name %>
                    </p>
                    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                </div>
            </form>
            <% }); %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newInput" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value=<%=listTitle %>>+</button>
                    <!-- Значение которое передает кнопка с именем list и value определяет на какую страницу грузить новый айтем -->
                </form>
    </div>

    <%- include('footer'); -%>